@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font1: "Press Start 2P", system-ui;
$font2: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font2;
  overflow-y: hidden;

}


// background des pages
.accueil-background {
  background: #39375B;
  min-height: 100vh;
}

.projets-background {
  background: #136F63;
  min-height: 100vh;
}

.contact-background {
  background: #39375B;
  min-height: 100vh;
}

.apropos-background {
  background-color: #F4FAFF;
  min-height: 100vh;
}

// page Home
.square_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 7px 10px 10px 10px;
  text-decoration: none;
  color: #FFF;
  background: #a180dc;
  transition: .4s;
  margin-top: 20px;
  font-family: $font2;
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;

  >span {
    border-bottom: solid 2px #FFF;
  }

  &:hover {
    background: #91b5fb;
  }
}

// page Accueil
.mainContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;


  .left {
    display: flex;
    flex-direction: column;
    padding: 80px;

    h1 {
      font-size: 52px;
      color: white;
    }

    p {
      font-size: 24px;
      color: white;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;

    img {
      width: 80%;
      height: auto;
    }
  }

}

// Page Projets

.projets-background {
  position: relative; // Assurez-vous que la position relative est définie sur le parent

  h1 {
    position: absolute; // Position absolue pour positionner le h1
    top: 10%; // Ajustez la valeur en fonction de votre mise en page
    left: 10%; // Ajustez la valeur en fonction de votre mise en page
    color: white;
    font-size: 52px;
    font-weight: bold;
    
  }

  .carousel-container {
    position: absolute;
    top: 20%; // Augmenter la valeur pour déplacer le carrousel vers le bas
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    

    .description {
      font-weight: 400;
      max-height: 150px;
      /* Utilisation de max-height au lieu de height */
      overflow-y: auto;
      margin-bottom: 10px;
      scrollbar-width: thin;
      scrollbar-color: yellow;

      .description::-webkit-scrollbar-button {
        display: none;
      }
    }
  }

  .langages-container {
    display: flex;
    justify-content: left;
    gap: 10px;

    p {
      border-radius: 16px;
      color: white;
      padding: 4px 8px;
      border-radius: 10px;
      font-size: 0.8em;

      @media screen and (max-width: 768px) {
        font-size: 0.8em;
        /* Pas besoin de .langages-container ici */
      }

      @media screen and (max-width: 480px) {
        font-size: 0.6em;
        /* Pas besoin de .langages-container ici */
      }
    }
  }

  .center {
    text-align: center;
    max-width: 100%;
    /* Pour que le contenu ne dépasse pas la largeur maximale */
  }

  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; 
height: auto;
  }

  .card img {
    width: 100%; /* Assure que l'image occupe toute la largeur de la carte */
    height: 200px; /* Réglez la hauteur de l'image */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
    border-radius: 8px; 
  }

  .card h2 {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card em {
    text-align: left;
  }

  .card p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.6;
    font-weight: bold;
  }

  .card .links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

// Page contact
.contact-container {
  width: calc(100% - (largeur de la navigation)); // Remplacez "(largeur de la navigation)" par la valeur appropriée de la largeur de votre navigation
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;

  .left-container {
    display: flex;
    flex-direction: column;
    padding: 80px;

    h1 {
      font-size: 52px;
      color: white;
    }

    img {
      width: 100%; // Modification de la largeur de l'image pour qu'elle s'adapte à la taille du conteneur
      height: auto;
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    padding: 80px; // Ajout de rembourrage pour correspondre au padding du left-container

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 700px; // Définissez la largeur maximale du formulaire selon vos besoins
      margin: 0 auto; // Pour centrer le formulaire horizontalement
    }

    label {
      color: orange; // Couleur orange pour les labels
    }

    input[type="text"],
    input[type="email"],
    textarea {
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    input[type="submit"] {
      background-color: orange;
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    input[type="submit"]:hover {
      background-color: #ff0; // Couleur de fond jaune clair au survol
    }
  }

  .success,
  .error {
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .success {
    background: green;
  }

  .error {
    background: red;
  }
}

// Page a propos

.box {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 300px; /* Ajustez la largeur de l'ellipse */
  height: 200px; /* Ajustez la hauteur de l'ellipse */
  margin: 0 auto; /* Centrer la boîte horizontalement */
  background: #4345;
  border-radius: 50%; /* Pour créer une ellipse */

}


