@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font1: "Press Start 2P", system-ui;
$font2: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font2;
  overflow-y: hidden;
}


// background des pages
.accueil-background {
  background: #39375B;
  min-height: 100vh;
}

.projets-background {
  background: #136F63;
  min-height: 100vh;
}

// page Home
.square_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 7px 10px 10px 10px;
  text-decoration: none;
  color: #FFF;
  background: #a180dc;
  transition: .4s;
  margin-top: 20px;
  font-family: $font2;
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;

  >span {
    border-bottom: solid 2px #FFF;
  }

  &:hover {
    background: #91b5fb;
  }
}

// page Accueil
.mainContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;


  .left {
    display: flex;
    flex-direction: column;
    padding: 80px;

    h1 {
      font-size: 52px;
      color: white;
    }

    p {
      font-size: 24px;
      color: white;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 70%;
      height: auto;
    }
  }

  /* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
  @media screen and (max-width: 640px) {
    grid-template-columns: 100%;
  }
}

// Page Projets
.carousel-container {
  position: absolute;
  top: 10%; /* Utilisation de pourcentage pour le positionnement */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Utilisation de pourcentage pour la largeur */
  max-width: 1200px;

  .description {
    font-weight: 400;
    max-height: 150px; /* Utilisation de max-height au lieu de height */
    overflow-y: auto;
    margin-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: yellow;

    .description::-webkit-scrollbar-button {
      display: none;
    }
  }
}

.langages-container {
  display: flex;
  justify-content: left;
  gap: 10px;

  p {
    border-radius: 16px;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 0.8em;

    @media screen and (max-width: 768px) {
      font-size: 0.8em; /* Pas besoin de .langages-container ici */
    }

    @media screen and (max-width: 480px) {
      font-size: 0.6em; /* Pas besoin de .langages-container ici */
    }
  }
}

.center {
  text-align: center;
  max-width: 100%; /* Pour que le contenu ne dépasse pas la largeur maximale */
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  max-height: 200px; /* Utilisation de max-height pour éviter le débordement */
  object-fit: cover;
  border-radius: 8px;
}

.card h2 {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card em {
  text-align: left;
}

.card p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.6;
  font-weight: bold;
}

.card .links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
