// Press Start 2P font

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font1: "Press Start 2P", system-ui;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
 
}